<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DataTube</title>
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
</head>

<body>
  <h1>DataTube</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
  </form>

  {% if search_text %}
  <h3 id="active_query">Active Query: {{ search_text }}</h3>
  {% else %}
  <h3 id="active_query">Active Query: None</h3>
  {% endif %}
  {% if search_modifiers %}
  <h3 id="active_modifiers">Active Modifiers: {{ search_modifiers }}</h3>
  {% else %}
  <h3 id="active_modifiers">Active Modifiers: None</h3>
  {% endif %}
  <table id="id_search_results">
    {% if search_results %}
    <th>Video ID</th>
    <th>Title</th>
    <th>Channel</th>
    <th>Description</th>
    {% endif %}
    {% for element in search_results %}
    <tr>
      <td>{{ element.videoid }}</td>
      <td>{{ element.title }}</td>
      <td><a href="{% url 'channel-view' element.channel %}">{{ element.channel }}</a></td>
      <td>{{ element.description }}</td>
    </tr>
    {% empty %}
    <tr>No videos found</tr>
    {% endfor %}
  </table>
</body>

</html>
