<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DataTube</title>
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
</head>

<body>
  <h1>DataTube</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
  </form>

  <h2>Channel Data </h2>
  <table id="id_channel_data">
    {% if channel_data %}
    <th>Channel</th>
    <th>Channel URL</th>
    <th>Channel Subscribers</th>
    <th>Total Video Views</th>
    <th>Join Date</th>
    <th>Description</th>
    {% endif %}
    {% for element in channel_data %}
    <tr>
      <td>{{ element.channel }}</td>
      <td>{{ element.channel_url }}</td>
      <td>{{ element.subscribers }}</td>
      <td>{{ element.views }}</td>
      <td>{{ element.joined }}</td>
      <td>{{ element.description }}</td>
    </tr>
    {% empty %}
    <tr>No such channel found</tr>
    {% endfor %}
  </table>

  <h2>Channel Videos</h2>
  <table id="id_channel_videos">
    {% if channel_video_results %}
    <th>Video ID</th>
    <th>Title</th>
    <th>Description</th>
    {% endif %}
    {% for element in channel_video_results %}
    <tr>
      <td><a href="{% url 'video-view' element.videoid %}">{{ element.videoid }}</a></td>
      <td>{{ element.title }}</td>
      <td>{{ element.description }}</td>
    </tr>
    {% empty %}
    <tr>No videos found for this channel.</tr>
    {% endfor %}
  </table>
</body>

</html>
